
/* section 1 */
#section1 h2{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 60px;
    text-align: center;
} 

#section1 h3{
    font-size: xx-large;
    text-align: center;
}

/* section 1 */

#section2 #s2{
    border: black;
}

#about{
    scroll-margin: 55px;
}

#work-&-education{
    
}

#me{
    height: 650px;
}


@media only  screen and (max-width: 1464px) {
    #section2{
    padding-top: 450px;
    

}
}
@media only screen  and (max-width: 750px) {
    #me{
   display: none;

}
}

@media only screen and (max-width: 853px) {
    #section7{
        height: 950px;
    }
}